:root {
    --color-1 : #282c34;
    --color-2 : #61dafb;
}
* {
  margin: 0;
  padding: 0;
}
.theme {
  background: var(--color-1);
  color:var(--color-2)
}
.header {
  text-align: center;
  padding: 8px;
}